$label-color: #333;
$control-color: #333;
$normal-border: #ccc;
$normal-borderEntire: 1px solid #ced4da;
$normal-borderRadius: 0.25rem;
$normal-fontSize: 16px;
$normal-height: 38px;
$normal-padding: 15px;
/* Styles */
body {
  color: #4d4d4d;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.4em;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

.inputParameters {
  border: 1px solid $normal-border;
  padding: $normal-padding;
}
.signals {
  border: 1px solid $normal-border;
  padding: $normal-padding;
}
.componentTitle {
  font-size: $normal-fontSize;
  font-weight: 600;
}
.formLabel {
  color: $label-color;
  font-size: $normal-fontSize;
  font-weight: 400;
  line-height: 2.375rem;
  margin-bottom: 0;
}
.formControl {
  color: $control-color;
}
.formNumberControl {
  height: $normal-height;
  width: 100%;
  .rc-input-number-handler {
    height: 19px;
    line-height: 19px;
  }
  input {
    color: $control-color;
    font-size: 1rem;
    font-weight: 400;
    padding: 6px;
    text-align: left;
  }
}
.react-datepicker-wrapper {
  width: 100%;
  .react-datepicker__input-container {
    width: 100%;
  }
}
.formatDateControl {
  border: $normal-borderEntire;
  border-radius: $normal-borderRadius;
  height: $normal-height;
  padding: 6px;
  width: 100%;
}
