$label-color: #333;
$control-color: #333;
$normal-border: #ccc;
$normal-borderEntire: 1px solid #ced4da;
$normal-borderRadius: 0.25rem;
$normal-fontSize: 16px;
$normal-height: 38px;
$normal-padding: 15px;
/* Styles */
body {
  color: #4d4d4d;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.4em;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
.pageContainer {
  background: #fff;
  border-radius: 5px;
  border-left: 2px solid #eee;
  border-right: 2px solid #eee;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
  height: 100%;
  padding: 15px;
}
.menuButtonsContainer {
  height: 56px;
  justify-content: flex-start;
  button:last-child {
    margin-left: auto;
  }
}
.chooseLeague {
  border: 2px solid #bce8f1;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
  .form-group {
    margin-bottom: 0;
    label {
      font-weight: 600;
    }
  }
}
.inputParameters {
  border: 1px solid #bce8f1;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.signals {
  border: 1px solid #bce8f1;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.componentTitle {
  background-color: #337ab7;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-color: #337ab7;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 10px 15px;
  position: relative;
  .additional {
    font-size: 14px;
    font-style: italic;
    position: absolute;
    right: 15px;
    top: 12px;
  }
}
.componentForm {
  padding: 15px;
}
.formLabel {
  color: $label-color;
  font-size: $normal-fontSize;
  font-weight: 400;
  line-height: 2.375rem;
  margin-bottom: 0;
}
.formControl {
  color: $control-color;
}
.formNumberControl {
  height: $normal-height;
  width: 100%;
  .rc-input-number-handler {
    height: 19px;
    line-height: 19px;
  }
  input {
    color: $control-color;
    font-size: 1rem;
    font-weight: 400;
    padding: 6px;
    text-align: left;
  }
}
.react-datepicker-wrapper {
  width: 100%;
  .react-datepicker__input-container {
    width: 100%;
  }
}
.formatDateControl {
  border: $normal-borderEntire;
  border-radius: $normal-borderRadius;
  height: $normal-height;
  padding: 6px;
  width: 100%;
}
.infoAlert {
  font-weight: 400;
}
.parameterButtonsContainer {
  justify-content: space-between;
}
.rc-tree {
  height: 600px;
  overflow-y: scroll;
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
